*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #00AA);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 8em);
  grid-template-rows: minmax(10em, auto) repeat(5, 8em);
}

.calculator-grid > button {
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
}

/* respons */

@media(orientation:portrait) and (max-width:600px){
  .calculator-grid {
    min-height: 100vh;
    grid-template-columns: repeat(4, 3em);
    grid-template-rows: minmax(5em, auto) repeat(5, 3em);
  }
  
  .calculator-grid > button {
    font-size: 1rem;
  }
  .output .previous-operand {
    font-size: 1rem;
  }
  
  .output .current-operand {
    font-size: 1rem;
  }

}